* {
    margin: 0;
}

body {
    height: 100vh;
}

.p-img {
    /*background image styling*/
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    /*flex set-up*/
    display: flex;
    justify-content: center;
    align-items: center;
}

#p1 {
    height: 100vh;
    background-image: url("../images/elm-hill.jpg");
}

#p2 {
    height: 500px;
    background-image: url("../images/market.jpg");
}

#p3 {
    height: 500px;
    background-image: url("../images/river.jpg");
}

#p4 {
    height: 100vh;
    background-image: url("../images/beach.jpg");
}

#p5 {
    height: 100vh;
    background-image: url("../images/river.jpg");
    font-family: 'Courier New';
    font-size: 100px;
    font-weight: 1200px;
    line-height: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    color: rgb(243, 254, 255);
    text-shadow: 4px 4px #000000;
}

.p-text-container {
    background-color: rgb(18, 94, 104);
    height: 100px;
    padding: 20px;
}

.p-title {
    color: rgb(79, 194, 214);
    font-family: Calibri;
    font-size: 50px;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: center;
}

.section {
    background-color: rgb(238, 255, 249);
    text-align: center;
    padding-top: 40px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
}

.section-title {
    font-family: 'Times New Roman';
    font-size: 60px;
    font-weight: 600;
    padding-top: 20px;
    padding-bottom: 15px;
    padding-left: 5px;
    padding-right: 5px;
    color: rgb(18, 94, 104);
    text-shadow: 2px 2px #8d979e;
}

.section-text {
    font-family: 'Courier New';
    font-size: 25px;
    font-weight: 80px;
    line-height: 40px;
    padding-top: 25px;
    padding-bottom: 10px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: justify;
    color: rgb(4, 43, 48);
    <img src="https://giphy.com/gifs/moodman-funny-gif-Lk023zZqHJ3Zz4rxtV">
}